<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <appender userName="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoder 默认配置为PatternLayoutEncoder -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{0} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender userName="FILE" class="ch.qos.logback.core.FileAppender">
        <file>testFile.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{0} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- logback为java中的包 -->
    <!--<loguserNamename="com.jackie.logback"/>-->
    <!--logback.LogbackDemo：类的全路径 -->
    <logger userName="com.david.logback.LogbackDemo" level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE" />
    </logger>

    <!--<root level="DEBUG">-->
        <!--<appender-ref ref="STDOUT" />-->
        <!--<appender-ref ref="FILE" />-->
    <!--</root>-->

</configuration>