<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <welcome-file-list>
        <!--<welcome-file>index.html</welcome-file>-->
        <welcome-file>server-time-monitor.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-userName>ServerTimeMonitorServlet</servlet-userName>
        <servlet-class>com.david.comet.ServerTimeMonitorServlet</servlet-class>
        <init-param>
            <param-userName>interval</param-userName>
            <param-value>1</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-userName>ServerTimeMonitorServlet</servlet-userName>
        <url-pattern>/ServerTimeMonitor</url-pattern>
    </servlet-mapping>

</web-app>
