<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="msg-center">

    <Properties>
        <Property name="log-path">./src/test/logs</Property>
    </Properties>

    <Appenders>
        <Console name="console-log" target="SYSTEM_OUT">
            <!--<ThresholdFilter level="off" onMatch="ACCEPT" onMismatch="DENY"/>-->
            <PatternLayout pattern="%d %p [%t] %C{2} (%F:%L) - %m %X{request_id}%n"/>
        </Console>
        <RollingFile name="info-log" fileName="${log-path}/info.log"
                     filePattern="${log-path}/info.log.%d{yyyyMMdd-HH}">
            <PatternLayout>
                <Pattern>[%level] %d{yyyyMMdd HH:mm:ss.SSS} [%t] %c{1} - %msg %n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
        <RollingFile name="warn-log" fileName="${log-path}/warn.log"
                     filePattern="${log-path}/warn.log.%d{yyyyMMdd-HH}">
            <PatternLayout>
                <Pattern>[%level] %d{yyyyMMdd HH:mm:ss.SSS} [%t] %c{1} - %msg %n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="com.david" level="info" additivity="false">
            <!--<appender-ref ref="debug-log" level="info"/>-->
            <appender-ref ref="console-log" level="info"/>
            <appender-ref ref="info-log" level="info"/>
        </Logger>

        <!--<Logger name="org.springframework" level="debug" additivity="false">-->
<!---->
        <!--</Logger>-->

        <Root level="warn" additivity="false">
            <!--<AppenderRef ref="debug-log"/>-->
            <appender-ref ref="warn-log" level="debug"/>
        </Root>
    </Loggers>
</Configuration>
